<% if @profile.errors.any? %>
	<div id = "error_explanation">
		<h2>
			<%= pluralize(@profile.errors.count, "error") %> prohibited your profile from being saved:
		</h2>
		<ul>
			<% @profile.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= simple_form_for @profile do |f| %>

		<%= f.input :name %><br>

		<%= f.input :surname %><br>
	
		<%= f.input :birthday, label: 'Date of birth' %><br>

	<!-- Add paperclip to upload photos -->
		<%= f.input :profile_photo, label: 'Link to your profile picture' %><br>

	<!-- add more drop down options -->
	<!-- find out how to "add another" -->
		<%= f.input :talent, :collection => ['piano','violin','tenor','soprano','drums'] %><br>

		<%= f.input :description, :as => :text, placeholder: 'Occupation, hobbies ...' %><br>
	
		<%= f.input :video, label: "Link(s) to Performance Videos" %><br>
	
		<%= f.input :phone, label: "Phone number (optional)" %><br>

		<%= f.button :submit %>
<% end %>


