<%= simple_form_for [current_user, @profile] do |f| %>
	
	<% if @profile.errors.any? %>
		<div id = "error_explanation">
			<h2>
				<%= pluralize(@profile.errors.count, "error") %> prohibited your profile from being saved:
			</h2>
			<ul>
				<% @profile.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

		<%= f.input :name %><br>

		<%= f.input :surname %><br>
	
		<%= f.input :birthday,  start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, label: 'Date of birth' %><br>

	<!-- Add paperclip to upload photos -->
		<%= f.input :profile_photo, label: 'Link to your profile picture' %><br>

	<!-- add more drop down options -->
	<!-- find out how to "add another" -->

		<%= f.association :talents, collection: Talent.all.map { |t| [t.skill, t.id] }, include_blank: true, input_html: {class: 'chosen-select'} %>
	<!--
	
	-->

		<%= f.input :description, :as => :text, placeholder: 'Occupation, hobbies ...' %><br>
	
		<%= f.input :video, label: "Link(s) to Performance Videos" %><br>

		<%= f.input :email, label: "Email address" %><br>
	
		<%= f.input :phone, label: "Phone number (optional)" %><br>

		<%= f.button :submit %>
<% end %>


