<% if @profile.errors.any? %>
	<div id = "error_explanation">
		<h2>
			<%= pluralize(@profile.errors.count, "error") %> prohibited your profile from being saved:
		</h2>
		<ul>
			<% @profile.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= simple_form_for @profile do |f| %>
	<p>
		<%= f.input :name %><br>
	</p>

	<p>
		<%= f.input :surname %><br>
	</p>

	<p>
		<%= f.input :birthday, label: 'Date of birth' %>
	</p>

	<!-- Add paperclip to upload photos -->
	<p>
		<%= f.input :profile_photo, label: 'Link to your profile picture' %><br>
	</p>

	<!-- add more drop down options -->
	<!-- find out how to "add another" -->

	<p>
		<%= f.select :talent, options_for_select(%w[piano violin tenor soprano drums])  %><br>
	</p>

	<p>
		<%= f.input :description, :as => :text, placeholder: 'Occupation, hobbies ...' %><br>
	</p>

	<p>
		<%= f.input :video, label: "Link(s) to Performance Videos" %><br>
	</p>

	<p>
		<%= f.input :phone, label: "Phone number (optional)" %><br>
	</p>

	<p>
		<%= f.button :submit %>
	</p>
<% end %>


