<div class="container">
<% if @profile.user == current_user %>
	<%= link_to "Edit Profile", edit_profile_path(current_user, @profile) %>
<% end %>

<%= render 'talents/search' %>

<h1>
	<strong>
		<%= @profile.name %>
		<%= @profile.surname %>
	</strong>
</h1>

<img src="<%= @profile.profile_photo %>" width="400px" >

<p>
	<strong>Date of Birth:</strong>
	<%= @profile.birthday.strftime("%B %d, %Y") %>
</p>

<p>
	<strong>Instruments/Voice Parts:</strong>
	<% @profile.talents.each do |talent| %>
		<% unless talent == @profile.talents.last %>
			<%= talent.skill %>, 
		<% else %>
			<%= talent.skill %>
		<% end %>
	<% end %>
</p>

<p>
	<strong>Description:</strong>
	<%= @profile.description %>
</p>

<p>
	<strong>Talent sample:</strong>
	<p><%= embed(@profile.video) %></p>
</p>

<p>
	<strong>Contact info:</strong> 
	<%= @profile.email %> | <%= @profile.phone %>
</p>

<!-- Add rank -->

</div>