<% if @profile.user == current_user %>
	<%= link_to "Edit Profile", edit_user_profile_path(current_user, @profile) %>
<% end %>

<h1>
	<strong>
		<%= @profile.name %>
		<%= @profile.surname %>
	</strong>
</h1>

<img src = "<%= @profile.profile_photo %>" width = 400px>

<p>
	<strong>Instruments/Voice Parts:</strong>
</p>

<p>
	<strong>Description:</strong>
	<%= @profile.description %>
</p>

<p>
	<strong>Talent samples:</strong>
	<%= @profile.video %>
</p>

<p>
	<strong>Contact info:</strong>
	<%= @profile.email %>
	<%= @profile.phone %>
</p>

<!-- Add rank -->

