<div class="container">

<div class="col-md-4 col-md-offset-4 text-center">
	<h1>
		<strong>
			<%= @profile.name %> 
			<%= @profile.surname %> 
		</strong>
	</h1>
</div>

<br>
<br>

<div class="col-md-6 col-md-offset-3">

	<br><img id = "profile" src="<%= @profile.profile_photo %>" width="400px" ><br>

	<div class="rating">
	<h2>
		<% if @profile.average_rating == -1 %>
	  		Unrated
	  	<% else %>
	  		<strong>Average Rating:</strong> 
			<%= @profile.average_rating %>
		<% end %>

		<br>
		Rate
		<%= @profile.name %>
		:

		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 1) %>
		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 2) %>
		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 3) %>
		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 4) %>
		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 5) %>

		<br>
		<br>

	</h2>
	</div>

	<p>
		<strong>Date of Birth:</strong>
		<%= @profile.birthday.strftime("%B %d, %Y") %>
	</p>

	<p>
		<strong>Instruments/Voice Parts:</strong>
		<% @profile.talents.each do |talent| %>
			<% unless talent == @profile.talents.last %>
				<%= talent.skill %>, 
			<% else %>
				<%= talent.skill %>
			<% end %>
		<% end %>
	</p>

	<% if @profile.description? %>
		<p>
			<strong>Description:</strong>
			<%= @profile.description %>
		</p>
	<% else %>
		<p><strong>
		<%= @profile.name %>
		has no description yet!
		</strong></p>
	<% end %>
	
	<% if @profile.video? %>
		<p>
			<strong>Talent sample:</strong>
			<p id><%= embed(@profile.video) %></p>
		</p>
	<% end %>

	<% if @profile.email? || @profile.phone? %>
		<p>
			<strong>Contact info:</strong>
				<% if @profile.email? %>
					<%= @profile.email %> 
				<% end %>
				<% if @profile.phone? %>
					| <%= @profile.phone %>
				<% end %>
		</p>
	<br>
	<br>
	<% end %>

	<!-- Add rank -->

	</div>
</div>
