
<div class="container">

<div class="col-md-4 col-md-offset-4 text-center">
	<h1>
		<strong>
			<%= @profile.name %> 
			<%= @profile.surname %>
		</strong>
	</h1>
</div>

<div class="col-md-6 col-md-offset-3">

	<img id = "profile" src="<%= @profile.profile_photo %>" width="400px" ><br>
	<br>


	<p>
		<strong>
		Rate
		<%= @profile.name %>
		:
		</strong>

		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 1) %>
		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 2) %>
		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 3) %>
		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 4) %>
		<%= link_to image_tag('star-on.png'), rate_profile_path(@profile, rating: 5) %>

		<br>

		<% if @profile.average_rating == -1 %>
	  		Unrated
	  	<% else %>
	  		<strong>Average Rating:</strong> 
			<%= @profile.average_rating %>
		<% end %>

	</p>

	<p>
		<strong>Date of Birth:</strong>
		<%= @profile.birthday.strftime("%B %d, %Y") %>
	</p>

	<p>
		<strong>Instruments/Voice Parts:</strong>
		<% @profile.talents.each do |talent| %>
			<% unless talent == @profile.talents.last %>
				<%= talent.skill %>, 
			<% else %>
				<%= talent.skill %>
			<% end %>
		<% end %>
	</p>

	<p>
		<strong>Description:</strong>
		<%= @profile.description %>
	</p>

	<p>
		<strong>Talent sample:</strong>
		<p><%= embed(@profile.video) %></p>
	</p>

	<p>
		<strong>Contact info:</strong> 
		<%= @profile.email %> | <%= @profile.phone %>
	</p>

	<!-- Add rank -->

	</div>
</div>
